<h1>Welcome to mapleDocs</h1>
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field>
    <mat-label for="username">Username</mat-label>
    <input matInput id="username" type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput id="password" type="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
    <a mat-raised-button routerLink="/register" >Register</a>
  </div>
</form>
