<mat-toolbar class="sub-toolbar">
  <span class="title">Upload maDMPs</span>
</mat-toolbar>
<div>
  <form style="padding-top: 2em;">
    <input class="ng-hide"
           #fileInput
           type="file"
           id="file-input"
           (change)="handleFileInput(fileInput.files)">
    <label for="file-input" class="md-button md-raised md-primary">Choose .json file for upload </label>
    <mat-progress-spinner *ngIf="!isUploading()"></mat-progress-spinner>

  </form>
  <div style="padding-top: 5em;">
    <button mat-stroked-button color="primary" (click)="handleUpload()">upload</button>
    <button mat-stroked-button (click)="onClearSelection()">clear selection</button>
  </div>
</div>
<div *ngIf="madmpShowJson" align="left">
  <mat-form-field>
    <mat-label>Select fields so hide</mat-label>
    <mat-select [formControl]="fieldsToHideFormControl" multiple
                (selectionChange)="handleUpdateFieldsToHide($event.value)">
      <mat-option *ngFor="let field of madmpFields" [value]="field">
        {{field}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button (click)="onClearHideFieldsSelection()">clear selection</button>
  <div>
    <div >
      <mat-label>Preview</mat-label>
      <ngx-json-viewer [json]="madmpShowJson"></ngx-json-viewer>
    </div>
  </div>
</div>
<div><!-- needed for spacing --></div>
