<mat-toolbar class="sub-toolbar">
  <span class="title">Upload maDMPs</span>
</mat-toolbar>
<div>
  <form style="padding-top: 2em;">
    <input class="ng-hide"
           #fileInput
           type="file"
           id="file-input"
           (change)="handleFileInput(fileInput.files)">
    <label for="file-input" class="md-button md-raised md-primary">Choose .json file for upload </label>
    <mat-progress-spinner *ngIf="!isUploading()"></mat-progress-spinner>

  </form>
  <div style="padding-top: 5em;">
    <button mat-stroked-button (click)="onClearSelection()">clear selection</button>
    <button mat-stroked-button (click)="handleValidate()">validate against schema</button>
    <button mat-stroked-button color="primary" (click)="handleUpload()">upload</button>
  </div>
</div>
<div *ngIf="madmpShowJson" align="left">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let field of selectedFieldsToHide"
              removable="true"
              (removed)="removeHiddenField(field)">
      {{field}}
    </mat-chip>

    <input placeholder="Add fields to hide (any valid jsonpath expression excluding the implicit prefix $.dmp.)"
           #hiddenFieldInput
           [formControl]="formCtrl"
           [matChipInputFor]="chipList"
           [matAutocomplete]="auto"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           matChipInputAddOnBlur="true"
           (matChipInputTokenEnd)="addHiddenField($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="autocompleteSelected($event)">
    <mat-option *ngFor="let field of madmpFields" [value]="field">
      {{field}}
    </mat-option>
  </mat-autocomplete>
  <mat-divider></mat-divider>
  <button mat-stroked-button (click)="onClearHideFieldsSelection()">clear selection</button>
  <mat-divider></mat-divider>
  <div>
    <div>
      <mat-label>Preview</mat-label>
      <ngx-json-viewer [json]="madmpShowJson"></ngx-json-viewer>
    </div>
  </div>
</div>
<div><!-- needed for spacing --></div>
