<p>Upload MaDMP</p>
<form style="padding-top: 2em;">
  <input class="ng-hide"
         #fileInput
         type="file"
         id="file-input"
         (change)="handleFileInput(fileInput.files)">
  <label for="file-input" class="md-button md-raised md-primary">Choose .json file for upload </label>

</form>
<div style="padding-top: 5em;">
  <button mat-stroked-button color="primary" (click)="handleUpload()">upload</button>
  <button mat-stroked-button (click)="onClearSelection()">clear selection</button>
</div>
