@import '~@angular/material/theming.scss';
@include mat-core();

.sub-toolbar {
  background-color: mat-color($mat-deep-purple, 400);
  box-shadow: 0 6px 7px -7px rgba(0,0,0, 0.5) inset;
  border-top: mat-color($mat-deep-purple, 700) solid;

  .title {
    color: #fff;
  }
}

mat-radio-button {
  margin-left: 15px;
}

.datepickers mat-form-field {
  margin-left: 20px;
}

.mat-form-field {
  margin-left: 20px;
}

.search-input {
  padding-top: 20px;
}

.mat-paginator {
  background-color: rgba(0,0,0,0);
}

.dmp-list-item {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);

  .dmp-title {
    display: block;
    font-size: 20px;
    color: mat-color($mat-deep-purple, 800);
  }

  .dmp-details {
    margin-top: 10px;

    span {
      display: block;
    }
  }

}
