<mat-toolbar class="sub-toolbar">
  <span class="title">Search maDMPs</span>
</mat-toolbar>
<mat-tab-group (selectedTabChange)="onSelectedTabChange()" #tabGroup>
  <mat-tab label="Full-Text Search">
    <div class="search-input">
      <mat-form-field class="full-text-search-field" appearance="outline">
        <input
          type="text"
          placeholder="Enter search terms"
          matInput #searchBox
          [(ngModel)]="searchBoxValue"
          name="searchBoxValue"
          (keyup.enter)="doSearch()"
          (keyup)="doSearch()"/>
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Combine Search Conditions">
    <div class="search-input">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Ethical Issues</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-radio-group #ethicalIssues [(ngModel)]="ethicalIssuesValue" name="ethicalIssuesValue"
                         (change)="doSearch()">
          <mat-radio-button value="no">
            no
          </mat-radio-button>
          <mat-radio-button value="yes">
            yes
          </mat-radio-button>
          <mat-radio-button value="any">
            any
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Embargo</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-radio-group #embargo [(ngModel)]="embargoValue" name="embargoValue" (change)="doSearch()">
          <mat-radio-button value="no">
            no
          </mat-radio-button>
          <mat-radio-button value="yes">
            yes
          </mat-radio-button>
          <mat-radio-button value="any">
            any
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Creation Date</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="datepickers">
          <mat-form-field>
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="creationFrom" [(ngModel)]="creationFromDate" ngDefaultControl
                   (dateChange)="doSearch()">
            <mat-datepicker-toggle matSuffix [for]="creationFrom"></mat-datepicker-toggle>
            <mat-datepicker #creationFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="creationTo" [(ngModel)]="creationToDate" ngDefaultControl
                   (dateChange)="doSearch()">
            <mat-datepicker-toggle matSuffix [for]="creationTo"></mat-datepicker-toggle>
            <mat-datepicker #creationTo></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Modification Date</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="datepickers">
          <mat-form-field>
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="modificationFrom" [(ngModel)]="modificationFromDate"
                   (dateChange)="doSearch()" name="modificationFromDate">
            <mat-datepicker-toggle matSuffix [for]="modificationFrom"></mat-datepicker-toggle>
            <mat-datepicker #modificationFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="modificationTo" [(ngModel)]="modificationToDate"
                   name="modificationToDate" (dateChange)="doSearch()">
            <mat-datepicker-toggle matSuffix [for]="modificationTo"></mat-datepicker-toggle>
            <mat-datepicker #modificationTo></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Contact Person</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="search-input" #contact>
          <mat-form-field appearance="outline">
            <mat-label>Contact name</mat-label>
            <input
              type="text"
              placeholder="Contact person name"
              matInput
              [(ngModel)]="contactPersonName"
              ngDefaultControl
              (keyup.enter)="doSearch()"
              (keyup)="doSearch()"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contact email</mat-label>
            <input
              type="text"
              placeholder="Contact person email"
              matInput
              [(ngModel)]="contactPersonEmail"
              ngDefaultControl
              (keyup.enter)="doSearch()"
              (keyup)="doSearch()"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contact identifier</mat-label>
            <input
              type="text"
              placeholder="Contact person identifier"
              matInput
              [(ngModel)]="contactPersonIdentifier"
              ngDefaultControl
              (keyup.enter)="doSearch()"
              (keyup)="doSearch()"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Identifier type" (selectionChange)="onContactIdTypeSelectionChange($event)">
              <mat-option
                [(ngModel)]="contactPersonIdentifierType"
                ngDefaultControl
                *ngFor="let contactIdType of contactIdTypes"
                [value]="contactIdType">{{contactIdType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Data Set</mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Dataset Identifier</mat-label>
          <input
            type="text"
            placeholder="Dataset identifier"
            matInput
            [(ngModel)]="datasetIdentifier"
            ngDefaultControl
            (keyup.enter)="doSearch()"
            (keyup)="doSearch()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Dataset Id Type</mat-label>
          <mat-select placeholder="Identifier type" (selectionChange)="onDatasetIdTypeSelectionChange($event)">
            <mat-option
              [(ngModel)]="datasetIdentifierType"
              ngDefaultControl
              *ngFor="let datasetIdType of datasetIdTypes"
              [value]="datasetIdType">{{datasetIdType}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Distribution Host Url</mat-label>
          <input
            type="text"
            placeholder="Distribution Host Url"
            matInput
            [(ngModel)]="datasetDistributionHostUrl"
            ngDefaultControl
            (keyup.enter)="doSearch()"
            (keyup)="doSearch()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Metadata Standard Id</mat-label>
          <input
            type="text"
            placeholder="Metadata Standard Id"
            matInput
            [(ngModel)]="metadataStandardId"
            ngDefaultControl
            (keyup.enter)="doSearch()"
            (keyup)="doSearch()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Metadata Standard Id Type</mat-label>
          <mat-select placeholder="Metadata identifier type" (selectionChange)="onMetadataStandardIdTypeChange($event)">
            <mat-option
              [(ngModel)]="metadataStandardIdType"
              ngDefaultControl
              *ngFor="let metadataStdIdType of metadataStandardIdTypes"
              [value]="metadataStdIdType">{{metadataStdIdType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
    </div>
  </mat-tab>
  <mat-tab label="Search specific JSON fields" class="custom-search">
    <div class="search-input">
      <mat-form-field appearance="outline">
        <input
          type="text"
          placeholder="Field (e.g. contact.name)"
          matInput #fieldInput
          [(ngModel)]="fieldInputValue"
          (keyup.enter)="doSearch()"
          (keyup)="doSearch()"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          type="text"
          placeholder="Enter search terms"
          matInput #valueInput
          [(ngModel)]="valueInputValue"
          (keyup.enter)="doSearch()"
          (keyup)="doSearch()"/>
      </mat-form-field>
    </div>
  </mat-tab>
</mat-tab-group>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
               (page)="pageChanged($event)"></mat-paginator>
<mat-action-list align="left">
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let madmp of madmpDisplayList" routerLink="/details/{{madmp.docId}}" style="cursor:pointer"
                 class="dmp-list-item">
    <span matLine class="dmp-title">{{madmp.madmp.dmp.title}}</span>
    <div matLine class="dmp-details">
      <span class="dmp-identifier">Identifier: {{madmp.madmp.dmp['dmp_id'].identifier}}</span>
      <span class="dmp-author">Author: {{madmp.madmp.dmp.contact.name}}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-action-list>
